# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# env
.env
.env.development
.env.production

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# outputs
*output*.txt
*semantic-layer*.md